<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="container">

<div id="carousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->

  <!-- Wrapper for slides -->
  <div class="carousel-inner">

    <div class="item active">
        <img src="images/Flower-Earring-1000x320.jpg" alt="carousel">
    </div>

    <div class="item">
        <img src="images/Tricolor-Fancy-Necklace-1000x320.jpg" alt="carousel">
    </div>

    <div class="item">
        <img src="images/Buterflies-Ring-1000x320.jpg" alt="carousel">
    </div>

    <div class="item">
        <img src="images/Twist-Earrings1-1000x320.jpg" alt="carousel">
    </div>

    <div class="item">
        <img src="images/gift-bag-2-1000x320.jpg" alt="carousel">
    </div>

    <div class="item">
        <img src="images/leaf-earring-one-1000x320.jpg" alt="carousel">
    </div>

  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

        <article id="content5" contenteditable="true"> 
        <h1>SO READY FOR SPRING!</h1>

          <div id="posts" class="transitions-enabled">
            <div class="box panel panel-default">
              <div class="panel-body">
                <p>Daylight-Savings begins  so you know what that means – SPRING TIME! It’s been a long winter with tons of snow and I’m so ready for the sunshine, Sunshine Jewelry that is. Let’s start off spring with some of our newest gem stone collection. This is only a preview!  Look out for the full collection coming soon. The following gem stones are surrounded by diamonds. In our full collection we played around with cubic zirconia and came up with amazing set for a reasonable price!</p> 

                <p>Let’s start it off right this spring.</p> 
              </div>
            </div>
          </div>
        </article>

          <div id="posts" class="transitions-enabled">
            <div class="box panel panel-default">
              <div class="panel-body">
              <div class="gallery"> 

              <h2>Necklaces</h2>
                <a href="images/jewelry/Blue-color-stone-with-diamonds-806x1024.jpg" 
                data-lightbox="jewelry" data-title="Oval Sapphire with surrounding diamonds in 18K">
                <img src="images/jewelry/Blue-color-stone-with-diamonds-806x1024.jpg" width="25%"></a>

                <a href="images/jewelry/Swirls-color-store-with-diamonds-1024x627.jpg" 
                data-lightbox="jewelry" data-title="Swirls with diamonds over a yellow sapphire - 18k">
                <img src="images/jewelry/Swirls-color-store-with-diamonds-1024x627.jpg" width="25%"></a>

                <a href="images/jewelry/Lucky-charm-with-green-color-stone-1024x510.jpg" 
                data-lightbox="jewelry" data-title="Emerald with Diamonds -18K">
                <img src="images/jewelry/Lucky-charm-with-green-color-stone-1024x510.jpg" width="25%"></a>

                <a href="images/jewelry/Jade-drop-down-pendant-1024x569.jpg" 
                data-lightbox="jewelry" data-title="Jade drop down diamond pendant - 18K">
                <img src="images/jewelry/Jade-drop-down-pendant-1024x569.jpg" width="25%"></a>

                <a href="images/jewelry/Square-pendant-with-blue-color-stone-1024x456.jpg" 
                data-lightbox="jewelry" data-title="Small square pendant with Sapphire-18K">
                <img src="images/jewelry/Square-pendant-with-blue-color-stone-1024x456.jpg" width="25%"></a>

                <a href="images/jewelry/Square-pendant-1024x954.jpg" 
                data-lightbox="jewelry" data-title="Large square pendant with sapphire">
                <img src="images/jewelry/Square-pendant-1024x954.jpg" width="25%"></a>

                <a href="images/jewelry/Diamond-all-around-Necklace1-1024x570.jpg" 
                data-lightbox="jewelry" data-title="Necklace with Diamonds all around">
                <img src="images/jewelry/Diamond-all-around-Necklace1-1024x570.jpg" width="25%"></a>

                <a href="images/jewelry/Long-Diamond-Pendant-2-786x1024.jpg" 
                data-lightbox="jewelry" data-title="Fancy Pendant with rows of diamonds and mutiple necklace">
                <img src="images/jewelry/Long-Diamond-Pendant-2-786x1024.jpg" width="25%"></a>

                <a href="images/jewelry/Fancy-tricolor-necklace-2-772x1024.jpg" 
                data-lightbox="jewelry" data-title="Fancy Tricolor Necklace">
                <img src="images/jewelry/Fancy-tricolor-necklace-2-772x1024.jpg" width="25%"></a>

                <a href="images/jewelry/Fancy-Diamond-Necklace1-1024x804.jpg" 
                data-lightbox="jewelry" data-title="Simple and Elegant Diamond Necklace">
                <img src="images/jewelry/Fancy-Diamond-Necklace1-1024x804.jpg" width="25%"></a>

                <a href="images/jewelry/Diamond-Heart-Pendant-702x1024.jpg" 
                data-lightbox="jewelry" data-title="Heart Diamond Locket">
                <img src="images/jewelry/Diamond-Heart-Pendant-702x1024.jpg" width="25%"></a>

                <a href="images/jewelry/Diamond-Flowers-Necklace-939x1024.jpg" 
                data-lightbox="jewelry" data-title="Flower Packed Diamond Necklace">
                <img src="images/jewelry/Diamond-Flowers-Necklace-939x1024.jpg" width="25%"></a>

                <a href="images/jewelry/Dangle-Fancy-Tricolor-Necklace-969x1024.jpg" 
                data-lightbox="jewelry" data-title="Tri Color Fancy Necklace Collection">
                <img src="images/jewelry/Dangle-Fancy-Tricolor-Necklace-969x1024.jpg" width="25%"></a>

                <a href="images/jewelry/Dangle-Fancy-Necklace-784x1024.jpg" 
                data-lightbox="jewelry" data-title="18k White Gold Fancy Necklace">
                <img src="images/jewelry/Dangle-Fancy-Necklace-784x1024.jpg" width="25%"></a>

                <h2>Earrings</h2>

                <p>Let’s make a statement! Nothing completes an outfit better than what’s on your ears!</p>

                <a href="images/earrings/Twist-Earrings-1024x591.jpg" data-lightbox="earrings">
                <img src="images/earrings/Twist-Earrings-1024x591.jpg" width="25%"></a>

                <a href="images/earrings/Spoon-Earrings-1024x930.jpg" data-lightbox="earrings">
                <img src="images/earrings/Spoon-Earrings-1024x930.jpg" width="25%"></a>

                <a href="images/earrings/leaf-earring-one3-1024x682.jpg" data-lightbox="earrings">
                <img src="images/earrings/leaf-earring-one3-1024x682.jpg" width="25%"></a>

                <a href="images/earrings/hoops-1024x627.jpg" data-lightbox="earrings">
                <img src="images/earrings/hoops-1024x627.jpg" width="25%"></a>

                <a href="images/earrings/Circle-Earrings-1024x632.jpg" data-lightbox="earrings">
                <img src="images/earrings/Circle-Earrings-1024x632.jpg" width="25%"></a>

                <a href="images/earrings/Flower-Earring1-1024x512.jpg" data-lightbox="earrings">
                <img src="images/earrings/Flower-Earring1-1024x512.jpg" width="25%"></a>

                <a href="images/earrings/Candle-liight-earrings-1024x883.jpg" data-lightbox="earrings">
                <img src="images/earrings/Candle-liight-earrings-1024x883.jpg" width="25%"></a>

                <a href="images/earrings/Custer-earrings1-1024x768.jpg" data-lightbox="earrings">
                <img src="images/earrings/Custer-earrings1-1024x768.jpg" width="25%"></a>

                <a href="images/earrings/Diamond-Earrings-738x1024.jpg" data-lightbox="earrings">
                <img src="images/earrings/Diamond-Earrings-738x1024.jpg" width="25%"></a>
              </div>


               <div id="pins" class="transitions-enabled">
                  <% @pins.each do |pin| %>
                    <div class="box_pin panel panel-default">
                      <%= link_to image_tag(pin.image.url(:medium)), pin %>
                    </div>
                  <% end %>
                </div>

                </div>
            </div>
          </div>

</div>