<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="container">

<div id="carousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->

  <!-- Wrapper for slides -->
  <div class="carousel-inner">

    <div class="item active">
        <img src="images/Flower-Earring-1000x320.jpg" alt="carousel">
    </div>

    <div class="item">
        <img src="images/Diamond all around Necklace_alt.jpg" alt="carousel">
    </div>

    <div class="item">
        <img src="images/Buterflies-Ring-1000x320.jpg" alt="carousel">
    </div>

    <div class="item">
        <img src="images/Twist-Earrings1-1000x320.jpg" alt="carousel">
    </div>

    <div class="item">
        <img src="images/gift-bag-2-1000x320.jpg" alt="carousel">
    </div>

    <div class="item">
        <img src="images/leaf-earring-one-1000x320.jpg" alt="carousel">
    </div>

  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
        
        <article id="content6" contenteditable="true"> 
        <h1>IT’S ALL ABOUT THE COSTUME!</h1>

          <div id="posts" class="transitions-enabled">
            <div class="box panel panel-default">
              <div class="panel-body">
                <p>Have you ever envy the performers or dancers who wears beautiful costumes and jewelry? The dramatic pieces of jewelry that lay strategically on the performers chest. What a site to see!</p> 

                <p>Check out our Costume 24K Jewelry Collection</p> 
              </div>
            </div>
          </div>
        </article>

          <div id="posts" class="transitions-enabled">
            <div class="box panel panel-default">
              <div class="panel-body"> 
                <div class="gallery">

                <a href="images/gold/Costume-24K-Flower-Necklace-2-672x1024.jpg" 
                data-lightbox="gold" data-title="Costume Jewelry - 24K Flower Necklace">
                <img src="images/gold/Costume-24K-Flower-Necklace-2-672x1024.jpg" width="25%"></a>

                <a href="images/gold/Costume-24K-Jewelry-012-594x1024.jpg" 
                data-lightbox="gold" data-title="Costume Jewelry - 24K Flower Necklace">
                <img src="images/gold/Costume-24K-Jewelry-012-594x1024.jpg" width="25%"></a>

                <a href="images/gold/Costume-24K-Flower-Jewelry-865x1024.jpg" 
                data-lightbox="gold" data-title="Costume Jewelry - 24K Small Flower Necklace">
                <img src="images/gold/Costume-24K-Flower-Jewelry-865x1024.jpg" width="25%"></a>

                <a href="images/gold/24K-Wedding-Gold-Bangle-1024x628.jpg" 
                data-lightbox="gold" data-title="24K Gold Wedding Bangle">
                <img src="images/gold/24K-Wedding-Gold-Bangle-1024x628.jpg" width="25%"></a>

                <a href="images/gold/24K-Gold-Money-1024x682.jpg" 
                data-lightbox="gold" data-title="24K Gold - 'Money in China'">
                <img src="images/gold/24K-Gold-Money-1024x682.jpg" width="25%"></a>
              </div>

               <div id="pins" class="transitions-enabled">
                      <% @pins.each do |pin| %>
                        <div class="box_pin panel panel-default">
                          <%= link_to image_tag(pin.image.url(:medium)), pin %>
                        </div>
                      <% end %>
                    </div>
                    </div>
                </div>
              </div>

</div>