<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="container">

<div id="carousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->

  <!-- Wrapper for slides -->
  <div class="carousel-inner">

    <div class="item active">
        <img src="images/Flower-Earring-1000x320.jpg" alt="carousel">
    </div>

    <div class="item">
        <img src="images/Diamond all around Necklace_alt.jpg" alt="carousel">
    </div>

    <div class="item">
        <img src="images/Buterflies-Ring-1000x320.jpg" alt="carousel">
    </div>

    <div class="item">
        <img src="images/Twist-Earrings1-1000x320.jpg" alt="carousel">
    </div>

    <div class="item">
        <img src="images/gift-bag-2-1000x320.jpg" alt="carousel">
    </div>

    <div class="item">
        <img src="images/leaf-earring-one-1000x320.jpg" alt="carousel">
    </div>

  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

        <article id="content8" contenteditable="true"> 
        <h1>FALL IS IN THE AIR! WHY NOT ON YOUR FINGER?</h1>

          <div id="posts" class="transitions-enabled">
            <div class="box panel panel-default">
              <div class="panel-body">
                <p>Fall is my favorite season of all. It’s when the leaves start to change colors, the fresh breeze that sweeps across your face and the fall fashion in itself. On a nice fall day, I like to stroll through the park, with a starbucks mocha coffee in one hand and a great book in the other. As I’m sitting on the bench on this particular day, I saw beautiful ladies that walked by with Gucci sunglasses, the newest Louis Vuitton purse and Chanel No.5 perfume that followed them as they passed by. The one thing I’ve notice the most is, what was wrapped around their perfectly polish fingers. It was anywhere from a simple diamond band to a butterfly cluster diamond ring. It was big, bold and the perfect icing to their completely coordinated outfit. The thing that caught my attention most about them was the fashion ring that was worn on their index finger! It made a statement! It added the perfect touch to it. See, the ring wasn’t just a piece of jewelry. It’s like a period at the end of a sentence. It made it a complete sentence! Fall is approaching, so let’s cover up that index!</p>
              </div>
            </div>
          </div>
          </article>

          <article id="content9" contenteditable="true"> 
          <div id="posts" class="transitions-enabled">
            <div class="box panel panel-default">
              <div class="panel-body">

                <h2>Fashion Rings for the Fall</h2>

                <p>*For pricing, please email*</p>  
          </article>
                
                <div class="gallery">
                <a href="images/rings/Fashion-ring-by-YDs-Design-1024x478.jpg" 
                data-lightbox="rings" data-title="Diamond Shaped Fashion Ring by YD's Design">
                <img src="images/rings/Fashion-ring-by-YDs-Design-1024x478.jpg" width="25%"></a>

                 <a href="images/rings/Leaf-B1-1024x441.jpg" 
                data-lightbox="rings" data-title="Leaf Baguette Diamond Fashiong Ring">
                <img src="images/rings/Leaf-B1-1024x441.jpg" width="25%"></a>

                 <a href="images/rings/Yellow-Flower-Ring-1024x555.jpg" 
                data-lightbox="rings" data-title="Flower ring with champagne diamonds">
                <img src="images/rings/Yellow-Flower-Ring-1024x555.jpg" width="25%"></a>

                 <a href="images/rings/Small-Flower-Ring-1024x576.jpg" 
                data-lightbox="rings" data-title="Flower Ring">
                <img src="images/rings/Small-Flower-Ring-1024x576.jpg" width="25%"></a>

                 <a href="images/rings/Fireflies-Ring1-1024x450.jpg" 
                data-lightbox="rings" data-title="Fireflies Diamond Fashion Ring">
                <img src="images/rings/Fireflies-Ring1-1024x450.jpg" width="25%"></a>

                 <a href="images/rings/Pearl-Stone-Ring-1024x577.jpg" 
                data-lightbox="rings" data-title="Pearl Diamond Ring">
                <img src="images/rings/Pearl-Stone-Ring-1024x577.jpg" width="25%"></a>

                 <a href="images/rings/Pear-Cluster-Ring-1024x513.jpg" 
                data-lightbox="rings" data-title="Pear Cluster Ring">
                <img src="images/rings/Pear-Cluster-Ring-1024x513.jpg" width="25%"></a>

                 <a href="images/rings/New-Flower-Ring-1024x604.jpg" 
                data-lightbox="rings" data-title="Flower Fashion Ring">
                <img src="images/rings/New-Flower-Ring-1024x604.jpg" width="25%"></a>

                 <a href="images/rings/Leaf-Ring2-1024x450.jpg" 
                data-lightbox="rings" data-title="Rose Fashion Ring">
                <img src="images/rings/Leaf-Ring2-1024x450.jpg" width="25%"></a>

                 <a href="images/rings/Heart-Ring-1024x488.jpg" 
                data-lightbox="rings" data-title="Open Heart Ring">
                <img src="images/rings/Heart-Ring-1024x488.jpg" width="25%"></a>

                 <a href="images/rings/Flower-Fashion-Ring2-1024x325.jpg" 
                data-lightbox="rings" data-title="Open Flower Fashion Ring">
                <img src="images/rings/Flower-Fashion-Ring2-1024x325.jpg" width="25%"></a>

                 <a href="images/rings/Fashion-Fall-Ring-11-1024x509.jpg" 
                data-lightbox="rings" data-title="Fall Fashion Ring">
                <img src="images/rings/Fashion-Fall-Ring-11-1024x509.jpg" width="25%"></a>

                 <a href="images/rings/Fashion-B-1024x789.jpg" 
                data-lightbox="rings" data-title="Fashion Ring">
                <img src="images/rings/Fashion-B-1024x789.jpg" width="25%"></a>

                 <a href="images/rings/Cluster-Diamond-Ring-1024x636.jpg" 
                data-lightbox="rings" data-title="Cluster Diamond Ring">
                <img src="images/rings/Cluster-Diamond-Ring-1024x636.jpg" width="25%"></a>

                 <a href="images/rings/Buterflies-Ring-1024x470.jpg" 
                data-lightbox="rings" data-title="Butterflies Diamond Ring">
                <img src="images/rings/Buterflies-Ring-1024x470.jpg" width="25%"></a>

                 <a href="images/rings/Blue-Stone-Ring-1024x722.jpg" 
                data-lightbox="rings" data-title="Color Stone Fashion Ring">
                <img src="images/rings/Blue-Stone-Ring-1024x722.jpg" width="25%"></a>

                 <a href="images/rings/Blue-3-stone-ring-1024x527.jpg" 
                data-lightbox="rings" data-title="Color Stones and Diamond Fashion Ring">
                <img src="images/rings/Blue-3-stone-ring-1024x527.jpg" width="25%"></a>
                </div>

                 <div id="pins" class="transitions-enabled">
                  <% @pins.each do |pin| %>
                    <div class="box_pin panel panel-default">
                      <%= link_to image_tag(pin.image.url(:medium)), pin %>
                    </div>
                  <% end %>
                </div>

              </div>
            </div>
          </div>

</div>