<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<br>
<div class="container">

  <div id="carousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->

  <!-- Wrapper for slides -->
  <div class="carousel-inner">

    <div class="item active">
      <p align="center">
        <img src="images/Flower-Earring-1000x320.jpg" alt="carousel">
      </p>
    </div>

    <div class="item">
      <p align="center">
        <img src="images/Tricolor-Fancy-Necklace-1000x320.jpg" alt="carousel">
      </p>
    </div>

    <div class="item">
      <p align="center">
        <img src="images/Buterflies-Ring-1000x320.jpg" alt="carousel">
      </p>
    </div>

    <div class="item">
      <p align="center">
        <img src="images/Twist-Earrings1-1000x320.jpg" alt="carousel">
      </p>
    </div>

    <div class="item">
      <p align="center">
        <img src="images/gift-bag-2-1000x320.jpg" alt="carousel">
      </p>
    </div>

    <div class="item">
      <p align="center">
        <img src="images/leaf-earring-one-1000x320.jpg" alt="carousel">
      </p>
    </div>

  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

    <div class="row">
      <div class="col-md-8">

        <h1>Contact Us:</h1>

        <div id="posts" class="transitions-enabled">
        <div class="box_alt panel panel-default">
        <div class="panel-body">
        <p>Thank you for visiting Sunshine Jewelry! To the right you can find our contact info as well as a link to our Facebook page. Like our page and get constant updates!</p>

        <p>For more information you can e-mail us at <a href="mailto:info@sunshinejewelryonline.com">info@sunshinejewelryonline.com</a></p>
        </div>
        </div>
        </div>
      </div>

    <div class="col-md-4">

      <div id="posts" class="transitions-enabled">
        <div class="box panel panel-default">
          <div class="panel-body">
              <li>Philadelphia local jewelry store located next to the Italian Market.</li>
                <br>
              <li><strong>Address:</strong></li> 
              <li>702 Washington Avenue</li>
              <li>Philadelphia, PA 19147</li>
                <br>
              <li><strong>Phone Number:</strong></li> 
              <li>215-271-2950</li>
                <br>
              <li><strong>Hours:</strong></li>
              <li>10am – 7pm</li>
              <li>Closed on Tuesday</li>
              <h3 align="center">“MAKING EVERY MOMENT ONE OF A KIND”</h3>
          </div>
        </div>
      </div>

      <div class="fb-like-box" data-href="http://www.facebook.com/pages/Sunshine-Jewelry/121478197895379" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div>

    </div>
    
  </div>

</div>