<div class="container-fluid">
	<div class="jumbotron">
	<p>Below is a list of service offered by BoatHouse Pictures, click on the categories below 
	for each specific service:</p>

		<ul class="nav navbar-nav navbar-middle">
	        <li><%= link_to "Event Coverage", event_path %></li>
	        <li><%= link_to "Corporate Services", corporate_path %></li>
	        <li><%= link_to "Special Services", special_path %></li>
	  	</ul>
	</div>
	<br>
	<div class="jumbotron">
	<p>More than ever, outreach through media has become an integral part of a successful 
	business strategy.</p>

	<p>With this in mind, our company specializes in helping local businesses stay ahead of
	the day’s trend. We offer a variety of services geared to servicing the needs of 
	consumers and employees alike. From in-house videos to television advertisements, we 
	are here to help you develop, produce, and present material that is catered to your 
	unique needs. All clients are encouraged to set up a FREE consultation. If you have a 
	unique event or would like to take an unorthodox approach, we would like to customize 
	your shoot and our consultation will give you the opportunity to discuss these ideas.
	</p>
	</div>

<div id="posts" class="transitions-enabled">
	
<div class="box_alt panel panel-default">
<div class="panel-body">
<h2>Event Coverage</h2>
<p>Whether hosting a lecture, documenting an event, or celebrating a milestone, our event 
coverage service ready for you. No event is too big or too small. Our team will consult
with you to determine your needs and come up with the best possible solution to your 
request.</p>

<p>We offer a standard Fly-On-The-Wall Service, which means we capture the event as it 
naturally occurs. Like a fly on the wall, we will record the event without any interferenc.
You will not notice we are there. We are available for any length of time, but our 
standard four (4) hour package includes:</p>

	<ul>
		<li>One (1) experienced cameraman</li>
		<li>One (1) production coordinator</li>
		<li>One (1) film editor</li>
	</ul>

<p>Event Coverage*: starts at $750 (4 hour package)</p>

<p>*A consultation is recommended for this service.</p>
</div>
</div>

<div class="box_alt panel panel-default">
<div class="panel-body">
<h2>Advertising</h2>
<p>For local businesses, our commercial & advertising services give them the 
ability to work with our creative team in developing their own advertisements for 
television or the internet. Our team will produce a high quality video that will be 
available for immediate release to attract more people to your business. Our service is 
full “Script to Screen,” meaning that our creative team works alongside you from inception 
to distribution.</p>

<p>Commercials & Advertisements*: starts at $1500</p>

<p>*A consultation is required for this service.</p>
</div>
</div>

<div class="box_alt panel panel-default">
<div class="panel-body">
<h2>Industrial Video Service</h2>
<p>All organizations benefit from industrial videos. Our crew will produce a high quality 
industrial video. Whether you want to post this video for potential clients visiting your 
site, or train new team members, we will cater to your specific demands. We will help 
write, cast, film, and distribute any industrial video including, but not limited to: 
training videos,“how to” videos, HR videos, demonstrations, etc.</p>

<p>Industrial Video Service*: starts at $3500</p>

<p>*A consultation is required for this service.</p>
</div>
</div>

</div>

</div>