<div class="container-fluid">
	<div class="jumbotron">
		<p>Below is a list of service offered by BoatHouse Pictures, click on the categories 
			below for each specific service:</p>

		<ul class="nav navbar-nav navbar-middle">
	        <li><%= link_to "Event Coverage", event_path %></li>
	        <li><%= link_to "Corporate Services", corporate_path %></li>
	        <li><%= link_to "Special Services", special_path %></li>
	</div>

<div id="posts" class="transitions-enabled">

	<div class="box_alt panel panel-default">
	<div class="panel-body">
		<h2>Basic Package</h2>
		<p>With our Basic Video Service, we will capture your moments like a “Fly on the Wall.” We will make sure we are in the right places at the right times. We will also make sure not to get in the way. Our team is talented, creative, and friendly. Our team also partners with very talented photographers, capturing those unique, intimate moments that we can’t catch.</p>

		<p>We offer a standard Fly-On-The-Wall Service, which means we will capture the event as it naturally occurs. Like a fly on the wall, we will record the event without any interference.  You will not notice we are there. We are available for any length of time, but our standard four (4) hour package includes:</p>

			<ul>
				<li>One (1) experienced cameraman</li>
				<li>One (1) shoot coordinator</li>
				<li>One (1) film editor</li>
			</ul>

		<p>Basic Event Coverage* starts at $1200</p>

		<p>*A consultation is required for this service.</p>

		<p>Additional time is available at $100 per hour.  Photographers are available for $100 per hour.
		</p>
	</div>
	</div>

	<div class="box_alt panel panel-default">
	<div class="panel-body">
		<h2>Premium Package</h2>
		<p>Weddings, birthdays, and anniversaries are special moments you’ll never want to forget. Our talented team will help you capture memories that will truly last.</p>

		<p>Offering everything from our event coverage package for twice the amount of time. We also offer additional crew (camera, photographers, and a production assistant) to make sure we capture every moment. We will work closely with you to create a video you will cherish.</p>

		<ul>
			<li>Eight (8) hours of event coverage</li>
			<li>Two (2) cameramen</li>
			<li>One (1) shoot coordinator</li>
			<li>One (1) film editor</li>
			<li>Photographers available at reduced rates</li>
		</ul>

		<p>Grand Event Video Coverage* starts at $2700.</p>

		<p>*A consultation is required for this service.</p>

		<p>Additional time is available at $100 per hour.</p>
	</div>
	</div>

</div>
</div>