<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="container">

<div id="carousel" class="carousel slide">
  <!-- Indicators -->

  <!-- Wrapper for slides -->
  <div class="carousel-inner">

    <div align ="center" class="item active">
        <img src="images/24k-ring-full-view-1024x995.jpg" width="600" height="400" alt="carousel">
    </div>

    <div align ="center" class="item">
        <img src="images/24k-ring-body-view-1024x946.jpg" width="600" height="400" alt="carousel">
    </div>

</div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

    <div class="row">
	  	<div class="col-md-8">

	  		<h1>What Makes Our Goldsmith Different:</h1>
	  		<div id="posts" class="transitions-enabled">
				<div class="box_alt panel panel-default">
				<div class="panel-body">

					<p>Yan Djap is the on premise goldsmith. He is originally from Jakarta, Indonesia. He had studied hand making jewelry for over 18 years in Jakarta. He is a perfectionist that will not offer anything less than perfect. A skill he mastered as his teacher grilled him everyday for 16 hours until he had the right technique down. With everything perfect comes practice. He is a creative, quiet, detail oriented and a skillful person. He refuse to do anything by machine if it can be done by hand. He’s famous saying is: ” With machine there’s no love, with hand – every stroke is love, a lesson and a story”.<p>

					<p>Yan Djap will bring your creative pieces to life.</p>

					<p>This is his newest piece. It took him one week to finish it. It’s a 24k pure gold, hand crafted ring weighting at 200 grams.</p>

				</div>
				</div>
				</div>
          
	</div>

		<div class="col-md-4">

			<div id="posts" class="transitions-enabled">
        <div class="box panel panel-default">
          <div class="panel-body">
              <li>Philadelphia local jewelry store located next to the Italian Market.</li>
                <br>
              <li><strong>Address:</strong></li> 
              <li>702 Washington Avenue</li>
              <li>Philadelphia, PA 19147</li>
                <br>
              <li><strong>Phone Number:</strong></li> 
              <li>215-271-2950</li>
                <br>
              <li><strong>Fax Number:</strong></li>
              <li>215-271- 2962</li>
                <br>
              <li><strong>Hours:</strong></li>
              <li>Open 7 days a week from 10am – 6:30pm</li>
              <h3 align="center">“MAKING EVERY MOMENT ONE OF A KIND”</h3>
          </div>
        </div>
      </div>

			<div class="fb-like-box" data-href="http://www.facebook.com/pages/Sunshine-Jewelry/121478197895379" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div>
		</div>
		
	</div>

</div>