<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="container">

<div id="carousel" class="carousel slide">
  <!-- Indicators -->

  <!-- Wrapper for slides -->
  <div class="carousel-inner">

    <div align ="center" class="item active">
        <img src="images/Main-Room-11-1024x682.jpg" width="600" height="400" alt="carousel">
    </div>

    <div align ="center" class="item">
        <img src="images/Diamond-Room-1-1024x682.jpg" width="600" height="400" alt="carousel">
    </div>

    <div align ="center" class="item">
        <img src="images/sitting-area1-682x1024.jpg" width="361" height="512" alt="carousel">
    </div>

    <div align ="center" class="item">
        <img src="images/Payment-options-1024x682.jpg" width="600" height="400" alt="carousel">
    </div>

    <div align ="center" class="item">
        <img src="images/Budda-566x1024.jpg" width="278" height="512"  alt="carousel">
    </div>

  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>


  
    <div class="row">
      <div class="col-md-8">
        <article id="content14" contenteditable="true"> 
        <h1>Our Mission: A Little About Us!</h1>
        <div id="posts" class="transitions-enabled">
        <div class="box_alt panel panel-default">
        <div class="panel-body">
            <p>Hi Everyone! I would like to welcome you to our website. I just wanted to tell you a little bit more about what we would like to achieve and how we hope to achieve it! My name is Laila and I am the online blogger for Sunshine Jewelry. I am looking to take the items from the store and share it not only in the local market, but everyone in the world.</p>

            <p>I want to start off by introducing the newest renovation of Sunshine Jewelry! Sunshine Jewelry Inc. has been in business for over 11 years. We had a new vision to bring our dated and somewhat jaded place to a more elegant and upscale atmosphere. The project was a grueling 2 months. In the end, we had achieved the look and ambience that we hope will set us apart from the rest.</p>

            <p>When you get the chance, come visit us. It’s at the corner of 7th and Washington. You won’t miss it!</p>

            <p>See you next time!</p>

            <p>-Laila E</p>
        </div>
        </div>
        </div>
      </article>
    </div>

    <div class="col-md-4">

      <div id="posts" class="transitions-enabled">
        <div class="box panel panel-default">
          <div class="panel-body">
              <li>Philadelphia local jewelry store located next to the Italian Market.</li>
                <br>
              <li><strong>Address:</strong></li> 
              <li>702 Washington Avenue</li>
              <li>Philadelphia, PA 19147</li>
                <br>
              <li><strong>Phone Number:</strong></li> 
              <li>215-271-2950</li>
                <br>
              <li><strong>Fax Number:</strong></li>
              <li>215-271- 2962</li>
                <br>
              <li><strong>Hours:</strong></li>
              <li>Open 7 days a week from 10am – 6:30pm</li>
              <h3 align="center">“MAKING EVERY MOMENT ONE OF A KIND”</h3>
          </div>
        </div>
      </div>
      
    <div class="fb-like-box" data-href="http://www.facebook.com/pages/Sunshine-Jewelry/121478197895379" width="290px" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div>

</div>

</div>