<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="container">

<div id="carousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->

  <!-- Wrapper for slides -->
  <div class="carousel-inner">

    <div class="item active">
      <p align="center">
        <img src="images/Flower-Earring-1000x320.jpg" alt="carousel">
      </p>
    </div>

    <div class="item">
      <p align="center">
        <img src="images/Tricolor-Fancy-Necklace-1000x320.jpg" alt="carousel">
      </p>
    </div>

    <div class="item">
      <p align="center">
        <img src="images/Buterflies-Ring-1000x320.jpg" alt="carousel">
      </p>
    </div>

    <div class="item">
      <p align="center">
        <img src="images/Twist-Earrings1-1000x320.jpg" alt="carousel">
      </p>
    </div>

    <div class="item">
      <p align="center">
        <img src="images/gift-bag-2-1000x320.jpg" alt="carousel">
      </p>
    </div>

    <div class="item">
      <p align="center">
        <img src="images/leaf-earring-one-1000x320.jpg" alt="carousel">
      </p>
    </div>

  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

    <div class="row">
      <div class="col-md-8">

        <h1>NEW CAREER? NEW WARDROBE? NEW PEARLS?</h1>

          <div id="posts" class="transitions-enabled">
            <div class="box panel panel-default">
              <div class="panel-body">
                <p>It’s about that time of year where people are starting their new career, changing their style or simply having something new to wear. I am big on change. I find that it keeps life interesting when life is unexpected. Change can be a scary thing, but also it can be an amazing opportunity that can uncover the new and exciting. Jewelry plays a part in the changes in your life as well. When you start your first job, you want to look your best. You want everything new! New clothes, new haircut, new makeup and new jewelry. Pearls has always been the standard in the professional work place.  I know white pearls are classic and it will remain that way. But, what if you want some spice to it? Have you considered black pearls? Black pearls have some added personality and color to make your wardrobe pop.</p> 

                <p>For more information, click on the picture for a full profile. If you may still have questions, please do not hesitate to call or email. Remember, you don’t have to spend a lot to make a statement. If there is a certain budget, we are more than willing to help you stay within it. Ask us for more discounts, it doesn’t hurt to try. So what do you say, lets turn a few heads!</p> 

                </div>
            </div>
          </div>

          <div id="posts" class="transitions-enabled">
            <div class="box panel panel-default">
              <div class="panel-body">

                <a href="images/pearls/Black-Pearl-w-Diamond-Pendant-1024x796.jpg" 
                data-lightbox="pearls" data-title="Tahitian Black Pearl with Diamond and Baguettes">
                <img src="images/pearls/Black-Pearl-w-Diamond-Pendant-1024x796.jpg" width="20%"></a>

                <a href="images/pearls/Black-Pearls-Earrings-w-Diamonds-1024x569.jpg" 
                data-lightbox="pearls" data-title="Simple small fresh water pearls with diamonds all around">
                <img src="images/pearls/Black-Pearls-Earrings-w-Diamonds-1024x569.jpg" width="20%">
                </a>

                <a href="images/pearls/Circle-Pearl-Pendant-with-Diamonds-696x1024.jpg" 
                data-lightbox="pearls" data-title="Circle Diamond Pendant with a Natural Tahitian Pearl">
                <img src="images/pearls/Circle-Pearl-Pendant-with-Diamonds-696x1024.jpg" width="20%"></a>

                <a href="images/pearls/Diamond-Earrings-with-pearls-1024x703.jpg" 
                data-lightbox="pearls" data-title="Curve style long earrings with diamonds and fresh water black pearls">
                <img src="images/pearls/Diamond-Earrings-with-pearls-1024x703.jpg" width="20%"></a>

                <a href="images/pearls/Full-Black-Pearls-Necklace-1024x521.jpg" 
                data-lightbox="pearls" data-title="Fresh water black pearls string all around with diamond cut pieces">
                <img src="images/pearls/Full-Black-Pearls-Necklace-1024x521.jpg" width="20%"></a>

                <a href="images/pearls/Long-Pearl-Earrings-with-Diamonds-1024x1011.jpg" 
                data-lightbox="pearls" data-title="Long Flower Dangle Diamonds Earrings with Tahitian Pearl">
                <img src="images/pearls/Long-Pearl-Earrings-with-Diamonds-1024x1011.jpg" width="20%"></a>

                <a href="images/pearls/Black-Pearl-w-Diamond-Pendant-1024x796.jpg" 
                data-lightbox="pearls" data-title="Diamond Shaped Diamond Pendant with Black Tahitian Pearl">
                <img src="images/pearls/Black-Pearl-w-Diamond-Pendant-1024x796.jpg" width="20%"></a>

                <a href="images/pearls/Pearl-Pendant-616x1024.jpg" 
                data-lightbox="pearls" data-title="Crown Baguettes Style Pendant with Tahitian Black Pearl">
                <img src="images/pearls/Pearl-Pendant-616x1024.jpg" width="20%"></a>

                <a href="images/pearls/Pearl-Ring-w-Diamonds-1024x631.jpg" 
                data-lightbox="pearls" data-title="Tahitian Pearl Ring with side round diamonds">
                <img src="images/pearls/Pearl-Ring-w-Diamonds-1024x631.jpg" width="20%"></a>

                <a href="images/pearls/Pearl-Set-1024x743.jpg" 
                data-lightbox="pearls" data-title="Fancy Pearl Set with Diamonds">
                <img src="images/pearls/Pearl-Set-1024x743.jpg" width="20%"></a>

                 <a href="images/pearls/Diamond-Pearl-Earrings-1024x625.jpg" 
                data-lightbox="pearls" data-title="Diamond Dangle Earrings Clip Back with Tahitian Pearl">
                <img src="images/pearls/Diamond-Pearl-Earrings-1024x625.jpg" width="20%"></a>

                </div>
            </div>
          </div>


      </div>

      <div class="col-md-4">

      <div id="posts" class="transitions-enabled">
        <div class="box panel panel-default">
          <div class="panel-body">
              <li>Philadelphia local jewelry store located next to the Italian Market.</li>
                <br>
              <li><strong>Address:</strong></li> 
              <li>702 Washington Avenue</li>
              <li>Philadelphia, PA 19147</li>
                <br>
              <li><strong>Phone Number:</strong></li> 
              <li>215-271-2950</li>
                <br>
              <li><strong>Fax Number:</strong></li>
              <li>215-271- 2962</li>
                <br>
              <li><strong>Hours:</strong></li>
              <li>Open 7 days a week from 10am – 6:30pm</li>
              <h3 align="center">“MAKING EVERY MOMENT ONE OF A KIND”</h3>
          </div>
        </div>
      </div>

      <div class="fb-like-box" data-href="http://www.facebook.com/pages/Sunshine-Jewelry/121478197895379" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div>

    </div>
    
  </div>

</div>