<div class="container-fluid">
	<div class="jumbotron">
		<p>Below is a list of service offered by BoatHouse Pictures, 
			click on the categories below for each specific service:</p>

			<ul class="nav navbar-nav navbar-middle">
		        <li><%= link_to "Event Coverage", event_path %></li>
		        <li><%= link_to "Corporate Services", corporate_path %></li>
		        <li><%= link_to "Special Services", special_path %></li>
		  	</ul>
	</div>

	<div id="posts" class="transitions-enabled">
		<div class="box_alt panel panel-default">
			<div class="panel-body">
				<h2>Doc-YOU-mentary™</h2>
				<p>For clients who want something truly unique: this is the service for 
				you! Our Doc-YOU-mentary™ service is exactly what it sounds like - a documentary about 
				you, your loved ones, and your event.</p>

				<p>For our brides to be, this service will cover everything from the dress fitting, to the 
				moment you say I do, and even up until you and your significant other depart for your 
				blissful getaway. Shot documentary style, we will interview family members and friends 
				while we also document your unique event. Once captured, the video gets edited and 
				mixed with your wedding soundtrack. Credits, including the family and friends features 
				as a part of the Doc-YOU-mentary™ or special event, will be listed just like a feature 
				film. You’ll be the talk of the town!</p>

				<p>Doc-YOU-mentary™*: starts at $3500.</p>

				<p>*Due to the elaborate nature of this service, a consultation is required. Final cost of 
				this deluxe service is directly related to the demands of the client.Doc-YOU-mentary™ 
				is an exclusive BoatHouse Pictures product, all rights reserved.</p>
			</div>
		</div>
	</div>

</div>